@{
    Layout = null;
    ViewBag.Title = "Forgot Password";
}

<style>
    body {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #0f172a;
        font-family: Arial;
    }

    .card {
        background: white;
        padding: 30px;
        border-radius: 12px;
        width: 320px;
        text-align: center;
        box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    }

    input {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
    }

    button {
        width: 100%;
        padding: 10px;
        background: #2563eb;
        color: white;
        border: none;
        border-radius: 8px;
    }
</style>

<div class="card">
    <h3>Forgot Password</h3>

    @using (Html.BeginForm())
    {
        <input type="email" name="email" placeholder="Enter email" />

        <button type="submit">Send Code</button>

        <p style="color:red">@ViewBag.Error</p>
    }
</div>