
@{
    ViewBag.Title = "ResetPassword";
    Layout = null;
}


<div class="card">
    <h3>Reset Password</h3>

    @using (Html.BeginForm())
    {
        <input type="password" name="newPassword" placeholder="New password" />
        <input type="password" name="confirmPassword" placeholder="Confirm password" />

        <button type="submit">Reset</button>

        <p style="color:red">@ViewBag.Error</p>
    }
</div>